<span class="flex flex-col items-end" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span class="flex flex-col items-end" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span class="font-sans font-medium mb-1" itemprop="streetAddress">104 Newfield Drive</span>
    <span class="font-sans font-medium mb-1">
        <span itemprop="addressLocality">Stamford</span>,
        <span itemprop="addressRegion">CT</span>
        <span itemprop="postalCode">06905</span>
    </span>
    <span class="font-sans font-medium mb-1" itemprop="telephone">(203) 329-2449</span>
</span>
