<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">104 Newfield Drive</span>
  <span itemprop="addressLocality">Stamford</span>
  <span itemprop="addressRegion">CT</span>
  <span itemprop="postalCode">06905</span>
</div>
<span itemprop="telephone">(203) 329-2449</span>
