<p class="pb-4">
Pauline Bailey is licensed as an audiologist in the state of Connecticut.
</p>

<p class="pb-4">
She has been a Fellow of the American Academy of Audiology since 1992.
She held the Certificate of Clinical Competence in Audiology from ASHA through 2006, and then switched to Board Certification in Audiology, ABA, which requires enhanced continuing education.
</p>

<p class="pb-4">
She obtained her MA in Audiology from Michigan State University, and then spent a year in the doctoral program at Wayne State University, Detroit, until transferring to the Graduate Center of The City University of New York, where she completed coursework and passed comprehensive exams during 1979 to 1982.
</p>

<p class="pb-4">
She began her career in an ear, nose, and throat practice and then worked at the Hearing and Speech Center at Greenwich Hospital.
After starting a private practice, she saw clients in her office, consulted with Stamford Public Schools for the hearing-impairment program and provided consulting audiology at several ENT practices.
She began doing auditory processing evaluation in the early 1990s.
</p>

<p class="pb-4">
Her referrals have come from many school systems in Fairfield County and beyond, from pediatricians, educational psychologists, speech-language pathologists and audiologists.
</p>

