<img class="rounded-image pb-image" src="/images/pauline-bailey.jpg" alt="Pauline G. Bailey">

<p class="pb-4">
Pauline Bailey is licensed as an audiologist in the state of Connecticut. She began her career in an ear, nose, and throat practice and then worked at the Hearing and Speech Center at Greenwich Hospital. After starting a private practice, she saw a variety of clients in her office, consulted with Stamford Public Schools for the hearing-impairment program and provided consulting audiology at ENT practices.

<p class="pb-4">
She began doing auditory processing evaluation in the early 1990s. Her referrals have come from many school systems in Fairfield County and beyond, from pediatricians, educational psychologists, speech-language pathologists and audiologists.
</p>

<img class="aba-image" src="/images/ABA-Logo-Tagline-Color-compressed.jpg" alt="American Board of Audiology - Board Certified in Audiology">
<p class="pb-4" style="clear: left;">
She holds Board Certification in Audiology, the American Board of Audiology since 2007.  From the beginning of her career, she held the Certificate of Clinical Competence in Audiology from the American Speech-Language-Hearing Association, which was maintained through 2006 until she transitioned to ABA which requires enhanced continuing education. She has been a Fellow of the American Academy of Audiology since 1992.
</p>

<p class="pb-4" style="clear: right;">
Pauline obtained her Master of Arts in Audiology from Michigan State University. She spent a year in the doctoral program at Wayne State University, Detroit, Michigan, and then transferred to the Graduate Center of The City University of New York, where she completed the coursework and passed comprehensive exams.
</p>

<p class="pb-4">
Her professional memberships include the American Academy of Audiology, the American Auditory Society, Connecticut Academy of Audiology and the Educational Audiology Association.
</p>

