<h1>FAQ</h1>

<h2>What is auditory processing?</h2>
<h2>What is an auditory processing disorder?</h2>

<p class="pb-4">
A pioneer in auditory processing gave us a wonderful answer:
</p>
<p class="pb-4 italic">
Auditory Processing is what the brain does with what the ears hear!
</p>

<p class="pb-4">
An auditory processing disorder is a deficit in the neural processing of auditory stimuli (sound), distinct from higher-order cognitive function.
</p>

<p class="pb-4">
Having two ears helps us because our brains can do so much with the information coming from both sides at the same time.
Figuring out the direction of sound, knowing whether someone said "pick" or "big," knowing whether someone asked a question or expressed surprise - those are all things auditory processing provides.
</p>

<p class="pb-4">
An auditory processing disorder is some inefficiency, delay, or lack of precision in the way the sound progresses from the ears to the higher parts of the brain where we make meaning out of the sound.
Normally, the central auditory system is not finished growing and developing until age twelve or somewhat older. If the development is delayed or incomplete, a central auditory disorder may result.
</p>

<h2>How is an auditory processing disorder different from a hearing loss?</h2>

<p class="pb-4">
Both are auditory impairments but occur at different stages of hearing and understanding sound.
</p>

<p class="pb-4">
A typical hearing loss occurs because of something wrong with <span class="italic">the ear</span>, the "peripheral" auditory system.
It can be a mechanical problem, like a hole in the eardrum.
It can be a sensory problem, like missing inner ear hair cells from excessive noise, which prevents the conversion of sound to the electrical signal that stimulates the auditory nerve.
</p>

<p class="pb-4">
From the auditory nerve, the signal goes into the brainstem, through several waystations called nuclei, and then to both sides of the brain via different paths, the central auditory system (CANS).
Once the signal gets to the cortex, features of the sound are recognized by neural templates as speech sounds (phonemes).
The phonemes identify and distinguish words. When we know that signal as a word, we are in the realm of language, which becomes communication and ideas.
</p>

<p class="pb-4">
An auditory processing deficit exists when this complex travel through the brain stem and into the cortex is disrupted or inefficient.
</p>
