<h1>FAQ</h1>

<ul class="pb-8">
    <li><a href="#what-is-ap">What is auditory processing?</a></li>
    <li><a href="#what-is-apd">What is an auditory processing disorder?</a></li>
    <li><a href="#how-is-apd-different">How is an auditory processing disorder different from a hearing loss?</a></li>
    <li><a href="#faq-earliest-age">What is the earliest age a child can engage in an evaluation?</a></li>
    <li><a href="#faq-what-can-be-done">If testing shows that the young child is at risk for an APD, what can be done?</a></li>
</ul>

<h2 id="faq-what-is-ap">What is auditory processing?</h2>
<h2 id="faq-what-is-apd">What is an auditory processing disorder?</h2>

<p class="pb-4">
A pioneer in auditory processing gave us a wonderful answer:
</p>
<p class="pb-4 italic">
Auditory Processing is what the brain does with what the ears hear!
</p>

<p class="pb-4">
An auditory processing disorder is a deficit in the neural processing of auditory stimuli (sound), distinct from higher-order cognitive function.
</p>

<p class="pb-4">
Having two ears helps us because our brains can do so much with the information coming from both sides at the same time.
Figuring out the direction of sound, knowing whether someone said "pick" or "big," knowing whether someone asked a question or expressed surprise - those are all things auditory processing provides.
</p>

<p class="pb-4">
An auditory processing disorder is some inefficiency, delay, or lack of precision in the way the sound progresses from the ears to the higher parts of the brain where we make meaning out of the sound.
Normally, the central auditory system is not finished growing and developing until age twelve or somewhat older. If the development is delayed or incomplete, a central auditory disorder may result.
</p>

<p class="pb-4">
The development of hearing and understanding speech leads to an awareness of the relationship of the individual sounds of speech to the alphabet, and thus to reading. Hearing and reading are the major ways children learn in school, and therefore an APD is a type of learning disability.
</p>

<h2 id="how-is-apd-different">How is an auditory processing disorder different from a hearing loss?</h2>

<p class="pb-4">
Both are auditory impairments but occur at different stages of hearing and understanding sound.
</p>

<p class="pb-4">
A typical hearing loss occurs because of something wrong with <span class="italic">the ear</span>, the "peripheral" auditory system.
It can be a mechanical problem, like a hole in the eardrum.
It can be a sensory problem, like missing inner ear hair cells from excessive noise, which prevents the conversion of sound to the electrical signal that stimulates the auditory nerve.
</p>

<img src="images/central-auditory-nervous-system-compressed.png" alt="Central Auditory Nervous System" class="rounded-image cans-image float-left pr-4 pb-4">

<p class="pb-4">
From the auditory nerve, the signal goes into the brainstem, through several waystations called nuclei, and then to both sides of the brain via different paths, the central auditory system (CANS).
Once the signal gets to the cortex, features of the sound are recognized by neural templates as speech sounds (phonemes).
The phonemes identify and distinguish words. When we know that signal as a word, we are in the realm of language, which becomes communication and ideas.
</p>

<p class="pb-4">
An auditory processing deficit exists when this complex travel through the brain stem and into the cortex is disrupted or inefficient.
</p>

<h2 id="faq-earliest-age" style="clear: left;">What is the earliest age a child can engage in an evaluation?</h2>

<p class="pb-4">
Most children can participate in a number of auditory processing activities or test by age five. Certain institutions and school systems do not start doing CAPE (Central Auditory Processing Evaluation) until age seven. More and more audiologists now will see children younger than that because it is so important to start remediation as early as possible. The youngest child seen here was two years eleven months! She was able to finish two tests (with normal results!) of central auditory processing. The question with young children is not so much do they have a disorder, but is development on track. Young children present for testing because someone is concerned about the child's auditory processing. An evaluation can point to areas where extra activities that promote auditory development could be done. Usually we would not conclude a child has an actual disorder until age six or seven.
</p>

<p class="pb-4">
When deciding whether or not to obtain a CAPE for the younger child, you need to consider if the child will be able to participate in tests. Will the child wear earphones? Can the child pay attention to an activity for ten minutes? Can the child follow simple directions? Does language development seen grossly normal? Can the child talk clearly enough that responses can be understood by the tester?
</p>

<h2 id="faq-what-can-be-done">If testing shows that the young child is at risk for an APD, what can be done?</h2>

<p class="pb-4">
The two goals are to facilitate normal auditory development and to help insure a clear signal for information learning. One of the most powerful ways to develop auditory skills is music training. Learning new songs, singing along with recorded music, and learning to play a musical instrument are examples of music experience. Learning to play a musical instrument or voice lessons are activities that provide auditory processing benefits across the lifespan. Music involves several auditory functions.
</p>

<p class="pb-4">
Testing may show weakness in a particular area. Promoting binaural processing is done with sound localization games, interhemispheric activities, sound patterning activities, rhythm and music activities, poetry reading and reciting. Auditory discrimination activities include phoneme discrimination games and reading to the child with material that provides some challenge. Poetry with rhymes promote auditory discrimination. Once a child has a book or video largely memorized, it stops having much of a discrimination training effect (although still can be great language stimulation.) Auditory vigilance games ("listen for ____") are useful. Talking while walking with the child is useful since it often take more effort to listen in that situation. All these activities are commonly done with young children but should receive more time and frequency with the at-risk child.
</p>

<p class="pb-4">
Ensuring a clear signal can be done at home and school. At home it is important to avoid too much background noise, e.g., constant noise from other children or the TV while communicating. Being around constant background noise every waking hour, even while the child does not have to listen, is discouraged. We know it hurts auditory development in animals. Use "clear speech." Clear Speech is how you speak when it is very noisy.  It is slower and more distinct.  It is also a louder, but with no noise competition it could be just slightly louder.  Emphasize key words. This can include words like "because", "after", "secondly". With people who are hard-of-hearing this increases understanding by 20%.
</p>

<p class="pb-4">
If the child is in school, a sound-field type Remote Microphone system is very helpful., as long as they are set up to make the teacher's voice louder without making the classroom too noisy. It is a rare classroom that won't have a least a few children with middle ear fluid, Eustachian tube dysfunction, attention deficits, or auditory processing delays. There is evidence that a remote microphone system helps develop pre-reading skills. Some school systems have them in all classrooms in the early grades.
</p>
