<h1>Welcome!</h1>

<p class="text-2xl pb-4">
Pauline Bailey is a specialist in (Central) Auditory Processing Evaluation, which she has been doing for over twenty five years.
Her practice is now devoted exclusively to providing Auditory Processing Evaluations and therapy for auditory processing.
</p>

<p class="pb-4">
An auditory processing disorder is problem in the perception of sound. It is a disorder of the central auditory nervous system. Because speech (verbal communication) is the most important thing that we hear, the effect of an auditory processing disorder on hearing speech is the source of most of the functional problems related to an APD.
</p>

<p class="pb-4">
The development of hearing and understanding speech leads to an awareness of the relationship of the individual sounds of speech to the alphabet, and thus to reading. Hearing and reading are the major ways children learn in school, and therefore an APD is a type of learning disability.
</p>

<p class="pb-4">
Please <a href="/contact_requests">contact us</a> to ask a question or set up an appointment.
</p>

<p>
Do take a look at the information on this website to find out more about what auditory processing is and how AP disorders are managed.
</p>
