<h1>Welcome!</h1>

<p>
Pauline Bailey is a specialist in (Central) Auditory Processing Evaluation, which she has been doing for over twenty five years.
Her practice is now devoted exclusively to providing Auditory Processing Evaluations and therapy for auditory processing.
</p>