<h1>Welcome!</h1>

<p class="text-2xl pb-8">
Pauline Bailey is a specialist in (Central) Auditory Processing Evaluation, which she has been doing for over 25 years.
Her practice is now devoted exclusively to providing Auditory Processing Evaluations and therapy for auditory processing.
</p>

<p class="pb-8">
Please <a href="/contact_requests">contact us</a> to ask a question or set up an appointment.
</p>

<img class="rounded-image home-image-1" src="/images/boy-thinking.png" alt="Boy thinking">
<p class="pb-4">
An auditory processing disorder is problem in the perception of sound. It is a disorder of the central auditory nervous system. Because speech (verbal communication) is the most important thing that we hear, the effect of an auditory processing disorder on hearing speech is the source of most of the functional problems related to an APD.
</p>

<img class="rounded-image home-image-2" style="clear: left;" src="/images/girl-in-class.png" alt="Girl in class">
<p style="clear: left;">
Do take a look at the information on this website to find out more about what auditory processing is and how to manage AP disorders.
</p>
