<html>
    <head>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body class="border-t-2 border-red-lighter">
        <div class="container mx-auto">
            <div class="flex flex-col items-end mb-5">
                <div class="container mx-auto my-10 flex flex-col items-end">
                    <h1 class="text-green-darker font-serif">Pauline G. Bailey</h1>
                    <h2 class="text-red-darker font-serif">MA, FAAA</h2>
                </div>
                <img class="aba-image" src="/images/aba-logo-board-certified.gif" alt="American Board of Audiology - Board Certified in Audiology">
            </div>

            <div class="text-green-darker flex flex-col">
                <p class="mb-3 pr-2" >
                    Pauline Bailey is a specialist in (Central) Auditory Processing Evaluation, which she has been doing for over twenty five years. The practice is now exclusively providing Auditory Processing Evaluations and therapy for auditory processing.
                </p>

                <p class="mb-3 pr-2" >
                    An Auditory Processing Disorder can be considered to be a learning disability. It is common, especially in younger children. The disorder is characterized by the inability of both ears to work together correctly. There are different types of deficits, and the disorder can be accompanied by various problems. Sound goes in the ears and travels back and forth along many circuits through the brain in order to process what someone is saying. When this does not occur properly, problems result, such as the following:
                </p>

                <ul>
                    <li>Trouble determining which direction sound is coming from. It takes both ears to analyze this information</li>
                    <li>Difficulty perceiving small timing differences; for example, discerning the sounds of letters which have similar sounds, like P and B or SH and CH</li>
                    <li>Difficulty hearing pitch differences in sounds</li>
                    <li>Difficulty hearing how long a sound lasts</li>
                    <li>Problems hearing in the presence of background noise</li>
                </ul>
            </div>
        </div>

        <div class="fixed pin-b w-full bg-red-lighter mt-4 h-32">
            <div class="pin-b container mx-auto mt-5 mb-8 flex flex-col items-end text-green-darker">
                <%= partial('contact_info') %>
            </div>
        </div>
    </body>
</html>
