<html>
  <head>
      <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1>PAULINE G. BAILEY, M.A., FAAA</h1>

    <h2>104 Newfield Drive</h2>
    <h2>Stamford, Connecticut 06905</h2>
    <h2>PHONE (203) 329-2449</h2>

    <img src="/images/aba-logo-board-certified.gif" alt="American Board of Audiology - Board Certified in Audiology">
    <img src="/images/aba-logo.png" alt="American Board of Audiology">
    <p>
    Pauline Bailey is a specialist in (Central) Auditory Processing Evaluation, which she has been doing for over twenty five years. The practice is now exclusively providing Auditory Processing Evaluations and therapy for auditory processing.
    </p>

    <p>
    An Auditory Processing Disorder can be considered to be a learning disability. It is common, especially in younger children. The disorder is characterized by the inability of both ears to work together correctly. The brain must perceive very rapid sounds and compare them to ingrained knowledge about language. There are different types of deficits, and the disorder can be accompanied by various problems. Sound goes in the ears and travels back and forth along many circuits through the brain in order to process what someone is saying. When this does not occur properly, problems result, such as the following:
    </p>
    <ul>
        <li>Trouble determining which direction sound is coming from. It takes both ears to analyze this information</li>
        <li>Difficulty perceiving small timing differences; for example, discerning the sounds of letters which have similar sounds, like P and B or SH and CH</li>
        <li>Difficulty hearing pitch differences in sounds</li>
        <li>Difficulty hearing how long a sound lasts</li>
        <li>Problems hearing in the presence of background noise</li>
    </ul>
  </body>
</html>
