<html class="h-full">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="/main.css">
    </head>

    <body class="h-full">
        <div class="wrapper">
        </div>
    </body>
</html>
