<html class="h-full">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="/main.css">
    </head>

    <body class="h-full">
        <div class="wrapper">
            <div class="header">
                <p>Pauline G. Bailey, MA FAAA
                <p>(203) 329-2449
                <p>104 Newfield Drive
                <p>Stamford, CT 06905
            </div>
            <div class="navigation">
                About * Contact Us * FAQ
            </div>
            <div class="main">
                <p>Central Auditory Processing

                <p>To arrange an appointment or ask a question, please Contact Us.
            </div>
            <div class="related-links">
                Related Links
            </div>
            <div class="footer">
                Footer
            </div>
        </div>
    </body>
</html>
