<html class="h-full">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="/main.css">
    </head>

    <body class="h-full">
        <div class="wrapper">
            <div class="header p-2 flex flex-col items-center justify-between sm:flex-row sm:items-stretch">
                <span>Pauline G. Bailey, MA FAAA</span>
                <span>(203) 329-2449</span>
                <span class="flex justify-between sm:flex-col sm:justify-start">
                    <span class="pr-2 sm:pr-0 sm:pb-2">104 Newfield Drive</span>
                    <span class="pl-2 sm:pl-0">Stamford, CT 06905</span>
                </span>
            </div>
            <div class="navigation p-2 flex justify-around items-center md:items-stretch md:flex-col md:justify-start">
                <span class="md:pb-2">About</span><span class="md:pb-2">Contact Us</span><span>FAQ</span>
            </div>
            <div class="main p-2">
                <p>Central Auditory Processing

                <p>To arrange an appointment or ask a question, please Contact Us.
            </div>
            <div class="related-links p-2">
                Related Links
            </div>
            <div class="footer">
                Footer
            </div>
        </div>
    </body>
</html>
