/*
 * Top-level stylesheet for the app
 */

/*
 * See https://tailwindcss.com/docs/installation
 */

/** fonts **/

/* for page header bar text */
@font-face {
    font-family: 'rubikregular';
    src: url('fonts/rubik-regular-webfont.eot');
    src: url('fonts/rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('fonts/rubik-regular-webfont.woff') format('woff'),
         url('fonts/rubik-regular-webfont.ttf') format('truetype'),
         url('fonts/rubik-regular-webfont.svg#rubikregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubikmedium_italic';
    src: url('fonts/rubik-mediumitalic-webfont.eot');
    src: url('fonts/rubik-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rubik-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/rubik-mediumitalic-webfont.woff') format('woff'),
         url('fonts/rubik-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/rubik-mediumitalic-webfont.svg#rubikmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* for heading elements */
@font-face {
    font-family: 'rubiklight';
    src: url('fonts/rubik-light-webfont.eot');
    src: url('fonts/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rubik-light-webfont.woff2') format('woff2'),
         url('fonts/rubik-light-webfont.woff') format('woff'),
         url('fonts/rubik-light-webfont.ttf') format('truetype'),
         url('fonts/rubik-light-webfont.svg#rubiklight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* for paragraph and other non-header text */
@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_serif_proregular';
    src: url('fonts/sourceserifpro-regular-webfont.eot');
    src: url('fonts/sourceserifpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourceserifpro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourceserifpro-regular-webfont.woff') format('woff'),
         url('fonts/sourceserifpro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourceserifpro-regular-webfont.svg#source_serif_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/** end fonts **/

body {
    font-family: 'source_sans_proregular', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'rubiklight', sans-serif;
}


.aba-image {
    max-width: 120px;
    float: right;
    clear: left;
    margin-top: 5px;
}

.rounded-image {
    border-radius: 10%;
}

.pb-image {
    max-height: 350px;
    float: left;
    margin-top: 5px;
    margin-right: 1rem;
    margin-bottom: 8px;
}

.home-image-1 {
    max-height: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 8px;
}

.home-image-2 {
    max-height: 150px;
    margin-left: 10px;
    float: right;
}

.cans-image {
    max-height: 350px;
}

@screen md {
    .aba-image {
        max-width: 180px;
    }
}

a {
    @apply text-teal-darker;
}

a, a:visited {
    @apply no-underline;
    @apply font-bold;
    @apply text-xl;
}

a:hover {
    @apply text-orange-dark;
}

a:active {
    @apply text-orange;
}

/* we need to override the link styles for the header */
/* TODO: revise link styles to specialize the nav links instead */
a#header-telephone {
    @apply font-normal;
    @apply text-orange-lighter;
    @apply text-xl;
}

@screen md {
    a#header-telephone {
        @apply text-2xl;
    }
}

input::placeholder, textarea::placeholder {
    @apply italic;
}

.header {
    background: linear-gradient(config('colors.teal-darkest'), config('colors.teal-darker')), config('colors.teal-darkest');
    font-family: 'rubikregular', sans-serif;
}

.navigation {
    background: linear-gradient(config('colors.red-lighter'), config('colors.pink-lightest')), config('colors.teal-darkest');
    font-family: 'rubiklight';
}

@screen md {
    .navigation {
        background: linear-gradient(to right, config('colors.red-lighter'), config('colors.pink-lightest') 99%), config('colors.teal-darkest');
    }
}

.footer {
    background: linear-gradient(config('colors.teal-darker'), config('colors.teal-darkest')), config('colors.teal-darkest');
}

/*
 * If we want to revise the grid declaration it requires cross-browser testing.
 * The chosen grid syntax enables autoprefixer to make the grid work in IE 10-11.
 * Examples:
 *   We cannot use negative indexes for the grid-column end values,
 *   which means that the media query declarations are more redundant.
 *
 *   In IE we need a row height of min-content, not fr units, to prevent
 *   the footer from overlapping the content, but we need fr more modern browsers.
 *   So we end up with something like:
 *   grid-template-rows: 150px minmax(min-content, 15fr) 3fr 30px;
 */
.wrapper {
    display: grid;
    grid-template-rows: 150px 70px 15fr 3fr 30px;
    @apply w-full;
    @apply h-full;
}

@screen sm {
    .wrapper {
        grid-template-rows: 150px 70px 15fr 3fr 30px;
    }
}

@screen md {
    .wrapper {
        grid-template-rows: 150px minmax(min-content, 15fr) 3fr 30px;
        grid-template-columns: 10rem auto;
    }

    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .navigation {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
    }

    .main {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .related-links {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .footer {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
    }
}

@screen lg {
    .wrapper {
        grid-template-rows: 80px minmax(min-content, 15fr) 30px;
        grid-template-columns: 10rem 3fr 1fr;
    }

    .header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .navigation {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .related-links {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .footer {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;
